@import 'tailwindcss';

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-muted: var(--muted);
  --color-border: var(--border);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-input: var(--input);
  --color-ring: var(--ring);
}

:root {
  --background: #f7f4ee;
  --foreground: #1f1a17;

  --card: #fffdf9;
  --card-foreground: #1f1a17;

  --muted: #8b8175;
  --border: #ddd6cc;

  --accent: #6f4e37;
  --accent-foreground: #fffaf5;

  --input: #fdfaf6;
  --ring: #a0785a;
}

.dark {
  --background: #1c1917;
  --foreground: #f5f1ea;

  --card: #2a2522;
  --card-foreground: #f5f1ea;

  --muted: #a8a29e;
  --border: #3f3a36;

  --accent: #c2a878;
  --accent-foreground: #1c1917;

  --input: #221f1c;
  --ring: #c2a878;
}

body {
  background: var(--background);
  color: var(--foreground);
  transition:
    background 0.3s,
    color 0.3s;
}
