@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-muted: var(--muted);
}

:root {
  --background: #f1f1f1;
  --foreground: #171717;
  --card: #e5e7eb;
  --card-foreground: #171717;
  --muted: #9ca3af;
}

.dark {
  --background: #222831;
  --foreground: #ededed;
  --card: #374151;
  --card-foreground: #ffffff;
  --muted: #9ca3af;
}

body {
  background: var(--background);
  color: var(--foreground);
  transition: background 0.3s, color 0.3s;
}